// Media breakpoints - copied from Bootstrap
$max-sm: 'max-width: 575px';
$max-md: 'max-width: 767px';
$max-lg: 'max-width: 991px';
$max-xl: 'max-width: 1199px';
$max-xxl: 'max-width: 1399px';

$min-sm: 'min-width: 576px';
$min-md: 'min-width: 768px';
$min-lg: 'min-width: 992px';
$min-xl: 'min-width: 1200px';
$min-xxl: 'min-width: 1400px';

// List of registered z-index values
$z-index-list: (
  '1000': 1000,
  '100': 100,
  '1': 1,
);
